* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.calculator-age {
    text-align: center;
    margin-top: 60px;
    width: 550px;
    height: 300px;
    color: white;
    padding: 1.6rem 3rem;
    box-shadow: 0 0 10px black;
    background: linear-gradient(135deg, #23ffcc, #2b36cd);
}
.header {
    font-weight: bold;
    font-size: 35px;
    padding: 9px 0;
}
.input-seation label {
    font-size: 18px;
    font-style: italic;
}
.input-seation input {
    width: 100%;
    margin: 10px 0;
    padding: 13px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 17px;
    position: relative;
}
.buttons {
    text-align: center;
}
.buttons button {
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    background: linear-gradient(135deg, #23ffcc, #2b36cd);
    transition: transform 0.2s;
    border: none;
    outline: none;
    font-weight: bold;

}
.buttons button:hover {
    background: linear-gradient(135deg, #2b36cd, #23ffcc);

}
.buttons button:active {
    transform: scale(0.95);
}
.resutl {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    padding: 20px;

}
.age-error {
    padding-bottom: 7px;
    color: red;
    font-size: 22px;
    font-style: italic;
}
